@using SlnPartyOn.Models
@{
    int id = 0;
    string NombreUsuario = "";
    string tipousuario = "";
    int tipo_usuario = 0;
    UsuarioModel usuario = (UsuarioModel)Session["UsuarioFull"];

    if (usuario == null)
    {
        Response.Redirect("~/");
    }
    else
    {
        id = usuario.Id;
        NombreUsuario = usuario.Nombre + ' ' + usuario.Apellido;

        if(usuario.TipoUsuario == 1)
        {
            tipousuario = "Administrador";
            tipo_usuario = usuario.TipoUsuario;
        }
        else
        {
            tipousuario = "Cliente";
            tipo_usuario = usuario.TipoUsuario;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/Content/assets/img/favi.png">
    <title>Sistema de Gestion de Eventos</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <link href="~/Content/css/highcharts.css" rel="stylesheet" />

    <link href="~/Content/assets/css/highcharts.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/Content/assets/css/main.css" rel="stylesheet" media="screen" />


    <!-- Ion Icons -->
    <link href="~/Content/assets/fonts/icomoon/icomoon.css" rel="stylesheet" />
    <link href="~/Content/viewJs/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/css/datatables/dataTables.bs.min.css">


    <link href="~/Content/css/estiloAdicional.css" rel="stylesheet" />


    <!-- highchart-->
    <script src="~/Content/assets/js/highcharts.js"></script>
    <script src="~/Content/assets/js/highcharts-3d.js"></script>
    <script src="~/Content/assets/js/highcharts-more.js"></script>
    <script src="~/Content/assets/js/exporting.js"></script>
    <script src="~/Content/assets/js/export-data.js"></script>
    <script src="~/Content/assets/js/offline-exporting.js"></script>



</head>

<body>

    <!-- Header starts -->
    <header id="cabeza">

        <!-- Logo starts -->
        <a href="~/Evento/EventoUsuarioListarVista" class="logo" id="logotipo">
            <img src="~/Content/assets/img/logo.png" alt="PartyOn" />
        </a>
        <!-- Logo ends -->
        <!-- Header actions starts -->
        <ul id="header-actions" class="clearfix">
            <li class="list-box user-admin dropdown">
                <div class="admin-details">
                    <div class="name">@NombreUsuario</div>
                    <div class="designation">@tipousuario</div>
                </div>
                <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" style="background:#9EDAD3; padding:0px;">
                    <img style="width:50px; height:auto" src="~/Content/assets/img/user.png" alt="Usuario" />
                </a>
                <ul class="dropdown-menu sm">
                    <li class="dropdown-content">
                        <a href="#" id="btnCerrarSesion">
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Header actions ends -->
    </header>
    <!-- Header ends -->
    <!-- Container fluid Starts -->
    <div class="container-fluid">

        <!-- Navbar starts -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <span class="navbar-text">Menu</span>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse-navbar">
                @if (tipo_usuario == 1)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" role="button"><i class="icon-blur_on"></i>Inicio <span class="caret"></span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" role="button"><i class="icon-blur_on"></i>Usuarios <span class="caret"></span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" role="button"><i class="icon-blur_on"></i>Categoria <span class="caret"></span></a>
                        </li>
                    </ul>
                }
                else
                {


                    <!--start MENU-->
                    <div id="contenedorMenu">
                        <ul>
                            <li><a href="~/Usuario/InicioUsuarioVista">Inicio</a></li>
                            <li><a href="~/Evento/EventoUsuarioListarVista">Eventos</a></li>
                            <li><a href="#">Cuenta</a></li>
                            <li><a href="~/Estadistica/Index">Estadistica</a></li>
                        </ul>
                    </div>
                    <!--end MENU-->




                    <!--         <ul class="nav navbar-nav">
                         <li class="dropdown">
                             <a href="~/Usuario/InicioUsuarioVista" role="button">Inicio </a>
                         </li>
                     </ul>
                     <ul class="nav navbar-nav">
                         <li class="">
                             <a href="~/Evento/EventoUsuarioListarVista" role="button">Eventos </a>
                         </li>
                     </ul>
                     <ul class="nav navbar-nav">
                         <li class="">
                             <a href="#" role="button">Estado de Cuenta </a>
                         </li>
                     </ul>
                     <ul class="nav navbar-nav">
                         <li class="">
                             <a href="~/Estadistica/Index" role="button">Estadistica </a>
                         </li>
                     </ul>  -->
                }
            </div>
        </nav>
        <!-- Navbar ends -->
        <!-- Dashboard wrapper starts -->
        <div class="dashboard-wrapper">

            <!-- Top bar starts -->
            @RenderSection("Contentheader", required: false)
            <!-- Top bar ends -->
            <!-- Main container starts -->
            <div class="main-container">

                <!-- Row starts -->
                @RenderBody()
                <!-- Row ends -->
            </div>
            <!-- Main container ends -->

        </div>
        <!-- Dashboard Wrapper End -->

    </div>
    <!-- Container fluid ends -->
    <!-- Footer Start -->
    <footer style="background:#2FCE03">

        © PartyOn <span style="color:#ffffff">@DateTime.Now.Year</span>
    </footer>
    <!-- Footer end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/assets/js/jquery.js"></script>

    


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- jquery ScrollUp JS -->
    <script src="~/Content/assets/js/scrollup/jquery.scrollUp.js"></script>
    <script src="~/Content/assets/js/datatables/dataTables.min.js"></script>
    <script src="~/Content/assets/js/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/datatables/custom-datatables.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/viewJs/toastr.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyCVE9GlwM_MZv_nXDNIwyr5cNXOacsay_4&libraries=places'></script>
    <script src="~/Content/viewJs/locationpicker.jquery.min.js"></script>
    <script src="~/Content/viewJs/General.js"></script>
          
    @RenderSection("js", required: false)




</body>
</html>